<div class="products-wrapper p-1">
    <div class="products-cards-wrapper d-flex flex-wrap">
        @for(product of productsToDisplay; track product._id) {
        <app-product [product]="product" (edit)="displayEditDialog($event)"
            (delete)="deleteProduct($event)"></app-product>
        }
    </div>

    <div class="add-button-wrapper d-flex justify-end">
        <p-button (click)="displayAddDialog()" icon="pi pi-plus" label="Add Product"></p-button>
    </div>

    <div class="dialogs-wrapper">
        <app-product-popup [header]="dialogHeader" [(display)]="displayAddPopup"
            (confirm)="onConfirmAdd($event)"></app-product-popup>

        <app-product-popup [header]="dialogHeader" [selectedProduct]="selectedProduct" [(display)]="displayEditPopup"
            (confirm)="onConfirmEdit($event)"></app-product-popup>
    </div>

    <p-paginator (onPageChange)="onPageChange($event)" [rows]="perPage" [totalRecords]="products.length"
        [rowsPerPageOptions]="[4, 8, 12]"></p-paginator>

</div>