<div class="card d-flex flex-column gap-1">
    <img mat-card-image src="{{product.image}}" alt="{{product.name}} image" class="img-fluid">

    <div class="card-content d-flex flex-column p-1 gap-1">
        <h3 class="title">{{ product.name | truncateText : 16}}</h3>

        <div class="price-wrapper">
            <span>Price:</span>
            <span>{{ product.price | currency: '€' : 'right' }}</span>
        </div>

        <p-rating [(ngModel)]="product.rating" [readonly]="true" iconCancelClass="hidden"></p-rating>

    </div>

    <div class="action-btns-wrapper d-flex justify-end gap-05 p-1">
        <p-button label="Edit" (click)="displayEditPopup()"></p-button>
        <button
            type="button"
            pButton
            icon="pi pi-trash"
            (click)="confirmDelete()"
            label="Delete"
            class="p-button-danger"
            #deleteButton
      ></button>
    </div>

    <p-confirmPopup></p-confirmPopup>
</div>